.navbar-lewagon {
  justify-content: space-around;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-register {
  background-color: #c943a3;
  color: white;
}

.btn-btn-primary {
  border-radius: 50%;
}
