<div class="container">
  <h2>Detalles de la solución</h2>
</div>
<%# <% if @activity.done == true %>
  <%# <%= simple_form_for @activity.solution do |f| %>
  <%# <%= f.input :score %>
  <%# <%= f.input :comment %>
<%# <% end %>
